{% extends "base.html" %}
{% load static %}
{% block title %}
  About
{% endblock title %}
{% block meta_tags %}
<meta name="description" content="Discover KYBIC's journey from inception to becoming a leading solution provider. Learn about our mission, values, and commitment to excellence.">
 <link rel="canonical" href="https://kybic.io/about/" />
{% endblock meta_tags%}
{% block content %}
<div class="about-main">
    <div class="abou">
      <div class="text">
        <h2><strong>Empowering businesses through a blend of advanced technology and genuine human connection. </strong></h2>
        <div class="butt">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20px" height="20px">
                <path d="M2 12h20M14 5l7 7-7 7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
               -->
               <button  style="background-color: rgba(21, 76, 255, 0);box-shadow: none;border-radius: 0px;border: 1px solid white;">
                <a href="tel:+919061713244"> Contact</a>
              </button>
        </div>
      </div>
        </div>
        <div class="kyb">
            <h1><strong>How KYBIC rised</strong></h1>
            <p>KYBIC was founded with a vision of simplifying the lead management process for businesses of all sizes. Our founders, experienced sales and marketing professionals, identified that existing solutions were either too complex or too expensive. This realization led them to create a better solution.</p>
        
        </div>
        <div class="main">
           <div class="popleft">
            <div class="paragraph">
            <h1>Join with Kybic</h1>
            <p>
                our mission is to empower businesses to grow and succeed by providing them with an all-in-one lead management
                 solution that is efficient, effective, and easy to use.
            </p>
            </div>
           </div>
            <div class="popright">  
            <img src="{% static 'images/pop1.jpg'%}" alt="" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
            </div>
        </div>

        <div class="none">
            <div data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" class="non" >
                <h2><strong>Vision</strong></h2>
                <span class="uline" style="width: 150px;"></span>
                <p>Our Mission Is To Empower Businesses To Grow And Succeed By Providing Them With An All-In-One Lead Management</p>
            </div>
            <div data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" class="missi">
                <h2><strong> Mission</strong></h2>
                <span class="uline" style="width: 150px;"></span>
                <p>Our Mission Is To Empower Businesses To Grow And Succeed By Providing Them With An All-In-One Lead Management</p>
            </div>
        </div>


        <div class="about4">
            <div data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" class="text">
                <h2><strong>Our Values</strong></h2>
                <span class="uline"></span>
                <p>At KYBIC, our core values are honesty, integrity, innovation, and unwavering customer satisfaction.</p>
            </div>
            <div data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" class="text">
                <h2><strong>Our Team</strong></h2>
                <span class="uline"></span>
                <p>A diverse group of passionate professionals, all driven by a shared goal: to make our solutions the best in their class.</p>
            </div>
            <div data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" class="text">
                <h2><strong>Our Approach</strong></h2>
                <span class="uline"></span>
                <p>A customer-centric methodology, where we collaborate closely with our clients, understanding their unique challenges and needs.</p>
            </div>
            <div data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" class="text">
                <h2><strong>Our Commitment</strong></h2>
                <span class="uline"></span>
                <p>Beyond just solution development, we're here for you with training, resources, and dedicated support.</p>
            </div>

        </div>
        <!-- <div class="bgimage">
            <div class="bgparagraph">
                <div class="text">
                    <div class="subtext">
                        <h1>kybic</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, unde ducimus officiis voluptate omnis ea praesentium corrupti minus illum totam, 
                    culpa rerum, eius facilis. Eaque nostrum doloribus debitis accusantium corrupti.</p> 
                    </div>
                       
                </div>
                
            </div>
        </div> -->
    {% for testimonial in testimonials %}
    <div class="testimonial">
        <h3>{{ testimonial.name }}</h3>
        <p>{{ testimonial.paragraph }}</p>
    </div>
    {% empty %}
    
{% endfor %}
    

</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AboutPage",
  "name": "About Us - kybic.io",
  "description": "Learn more about us and our mission to provide top-quality services.",
  "url": "https://www.kybic.io.com/about/"
}
</script>
{% endblock content %}