{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="admin1">
    <h1>kybic</h1>
</div>
  
<!-- <div class="admin-main"> -->
    <div class="admin-monials">
         <h1>testmonials</h1>
    </div>
    <div class="admin-blog">
        <h1>blog</h1>
    </div>

</div>



 <!-- <form action="">
    <label for=""></label><br>
    <input type="" id="" name="" value=""><br>
    <label for=""></label><br>
    <input type="" id="lname" name="" value=""><br><br>
    <input type="submit" value="Submit">
  </form>  -->

  
{% endblock content %}
