{% extends "base.html" %}

{% load static %}
{% block content %}
 <div class="head1">
  <h1>The Blog</h1>
 </div>
  <div class="blog-main">
    <div class="left">
      <img src="{% static 'images/bg5.jpg' %}" alt="">
    </div>
    <div class="right">
      <h1>BLOG</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quis incidunt quibusdam est eligendi non fugiat aut omnis dolor, eveniet exercitationem nam temporibus consectetur? Expedita est minima nisi exercitationem odit.</p>
      <div class="chat">
        <button>
         <a href=""> Read more</a>
       </button>
 </div>
    </div> 
  </div>
  <div class="blog-main2">
    <div class="left2">
      <h1>BLOG</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quis incidunt quibusdam est eligendi non fugiat aut omnis dolor, eveniet exercitationem nam temporibus consectetur? Expedita est minima nisi exercitationem odit.</p>
      <div class="chat">
        <button>
         <a href="">Read more</a>
       </button>
 </div>
    </div>
     <div class="right2">
      <img src="{% static 'images/ser.jpg' %}" alt="">
     </div>
  </div>
  <div class="blog-main">
    <div class="left">
      <img src="{% static 'images/home13.jpg' %}" alt="">
    </div>
    <div class="right">
      <h1>BLOG</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quis incidunt quibusdam est eligendi non fugiat aut omnis dolor, eveniet exercitationem nam temporibus consectetur? Expedita est minima nisi exercitationem odit.</p>
      <div class="chat">
        <button>
         <a href="">Read more</a>
       </button>
 </div>
    </div>
  </div>
  <div class="blog-main2">
    <div class="left2">
      <h1>BLOG</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quis incidunt quibusdam est eligendi non fugiat aut omnis dolor, eveniet exercitationem nam temporibus consectetur? Expedita est minima nisi exercitationem odit.</p>
      <div class="chat">
        <button>
         <a href="">Read more</a>
       </button>
 </div>
    </div>
    <div class="right2">
      <img src="{% static 'images/home.jpg' %}" alt="">
    </div>
  </div>

 


  
{% endblock content %}
