{% extends "base.html" %}
{% include "" %}
{% load static %}
{% block content %}

<div class="blog-post-detail">
    <h2>{{ blog_id.title }}</h2>
    <p>{{ blog_id.content }}</p>
    <p>Published on: {{ blog_id.pub_date }}</p>
</div>












 {% comment %} <div class="head1">
  <h1>The Blog</h1>
 </div>
  </div>
<div class="blog-main">
     {% for blog in blog  %}
     <div class="blog">
      <div class="left">
        <img  src="{{blog.image.url}}"  >
        </div>
       <div class="right">
          <h1>{{blog.heading}}</h1>
          <div class="chat">
            <button>
             <a href="">Read more</a>
           </button>
          </div>
       </div>
     </div>
    
  {% empty %}
  {% endfor %}
</div>
    {% endcomment %}
 
 


  
{% endblock content %}
