{% extends "base2.html" %}
{% load static %}
{% block content %}
<div class="main">
  {% include "navbar2.html" %}
   <div class="bmag">
    <div class="left">
      <h1>contact</h1>
      <p>
        Reach out to us and let's start a conversation. Fill out the contact form below or use the provided contact information to get in touch.
         We look forward to hearing from you! 
      </p> 
        
    </div>
 
     <div class="right">
      <div class="butt2">
        <button>
          <img src="{% static 'images/location.png'%}" alt="">
        location
       </button>
 </div> 
 <div class="butt2">
  <button>
    <img src="{% static 'images/email.png'%}" alt="">
    <a href="mailto:rouf.kybic@gmail.com"> Email</a>                       
 </button>
</div>     
<div class="butt2">
  <button>
    <img src="{% static 'images/telphone.png'%}" alt="">
    <a href="tel:+919061713244">  Phone</a>              
 </button>
</div>                             
     </div>

    


</div>
 
<div class="explain">
  <div class="left">
    <h1>get in  touch </h1>
    <p>We value your input and would be delighted to hear from you. Whether you have a question, feedback, or would like to discuss a potential collaboration, our team is ready to assist you. Please use the contact form provided or reach out to us using the contact information below. We strive to respond promptly to all inquiries and look forward to connecting with you. Thank you for your interest in Kybic.
    </p>
     
</div>
<div data-aos="fade-right"
data-aos-offset="300"
data-aos-easing="ease-in-sine" class="right">
  <img src="{% static 'images/bg9.png'%}" alt="">

</div>
</div>
<div class="textmonials">
    <!-- <h1>textmonials</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptas et qui accusamus neque libero asperiores accusantium, dolorem alias a consequuntur, provident itaque ea velit voluptatibus facilis sunt at temporibus.</p> -->
    <div class="test-item">
      <div class="content">
        <p>KYBIC transformed our online presence! Their expertise brought our brand to life with a stunning website. Highly recommended!</p>
       <div class="pro">
          <div class="profile-pic">
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/person-male.png" alt="person-male"/>
          </div>
          <div class="text">
            <h2>Emily R.</h2>
            <h5> CEO of Stellar Solutions</h5>
            
          </div>
       </div>
      </div>
    </div>
    <div class="test-item">
      <div class="content">
        <p>Working with KYBIC was a pleasure. They built us a visually stunning and functional website. Exceptional work! </p>
       <div class="pro">
          <div class="profile-pic">
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/person-male.png" alt="person-male"/>
          </div>
          <div class="text">
            <h2>Daniel M.</h2>
            <h5>Founder of TechConnect</h5>
            
          </div>
       </div>
      </div>
    </div>
    <div class="test-item">
      <div class="content">
        <p>KYBIC exceeded our expectations. Their creativity and technical expertise resulted in a standout website. Highly recommended! </p>
       <div class="pro">
          <div class="profile-pic">
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/person-male.png" alt="person-male"/>
          </div>
          <div class="text">
            <h2>Sarah L.</h2>
            <h5>Marketing Manager at GlobalGrowth</h5>
            
          </div>
       </div>
      </div>
    </div>
    
</div>



<div class="login-box">
    <p>Feel free to contact</p>
    <form>
      <div class="user-box">
        <input required="" name="" type="text">
        <label>Name</label>
      </div>
      <div class="user-box">
        <input required="" name="" type="password">
        <label>Phone</label>
      </div>
      <div class="user-box">
        <input required="" name="" type="password">
        <label>E-mail</label>
      </div>
      <div class="user-box">
        <input required="" name="" type="password">
        <label>messege</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Send messege
      </a>
    </form>
  </div>





<!-- <form action="">
    <div class="form">
    <label for="text">Name</label>
    <input type="text" name="text">
    <label for="text">Phone</label>
    <input type="text" name="text">
    <label for="text">E mail</label>
    <input type="email" name="text">
    <button id="test">submit</button>
</div>
</form> -->


</div>


{% endblock content %}