{% extends "admin.html" %}
{% load static %}
{% block content %}

<style>
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.form-blo{
  width: 90%;
  max-width: 500px;
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
}
form{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input::file-selector-button{
  background-color: rgb(26, 26, 26);
  background-color: transparent;
  border: 1px solid rgb(26, 26, 26);
  padding: 10px;
  /* color: aliceblue; */
  border-radius: 0px;
      /* box-shadow: 2px 3px 14px 4px rgba(0, 0, 0, 0.151); */

}
input[type="file"]{
  background-color: transparent;
  margin-top: 0px;
}
input{
  border-radius: 0;
  /* border: 1px solid rgb(26, 26, 26); */
  margin:auto auto 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 0px;
}
p{
  width: 100%;
  max-width: 400px;
}
textarea{
  text-align: center;
  /* border: 1px solid rgb(26, 26, 26); */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 5px 0px;
  margin-bottom: 20px;
}
button{
  background-color:rgb(14, 14, 14) !important;
  color: azure;
  padding:7px 15px;

  border-radius: 0px;
    /* box-shadow: 2px 3px 14px 4px rgba(0, 0, 0, 0.151); */
}

</style>
   <div class="form-blo">
    <h1>Edit Blog</h1>
    <form method="post"  enctype="multipart/form-data">
      {% csrf_token %}
          {{ form.as_p }}
    <button type="submit">Submit</button>
    </form>
</div>




  {% endblock content %}