 

<form action="#">
    <label for="heading">Heading:</label>
    <input type="text" name="heading" id=""><br>
    <label for="paragraph">Paragraph</label>
    <input type="text" name="paragraph" id=""><br>
    <label for="image">image:</label>
    <input type="file" name="image" id=""><br>
    <input type="submit" value="Submit">
  </form>
 
    <form method="post" action=>
      {% csrf_token %}
      <label for="id_name">Name:</label>
      <input type="text" name="name" id="id_name" maxlength="100" required>
      <br>
      <label for="id_email">Email:</label>
      <input type="email" name="email" id="id_email" required>
      <br>
      <input type="submit" value="Submit">
  </form>
  