{% extends "base.html" %}

{% load static %}
{% block title %}
  Home
{% endblock title %}
{% block meta_tags %}
 <meta name="description" content="At KYBIC, we specialize in Conversion Rate Optimization (CRO) and Performance-driven web development. Harness the power of optimized web solutions to boost conversions and enhance site performance. Connect with us today!">
 <link rel="canonical" href="https://kybic.io" />
{% endblock meta_tags%}
{% block content %}
<div class="mani-container">
  <div id="typing-animation" class="text-main">
    <span id="text" class="textanim"></span>
    <div class="chat">
      <button style="background-color: rgba(21, 76, 255, 0);box-shadow: none;border-radius: 0px;border: 1px solid white;">
        <a href="tel:+919061713244"> Contact</a>
      </button>
     </div> 
    
    </div>


<div class="bmage flex flex-col bg-red-00 items-center" style="height: 40vh; margin-top: 70px;" >
 
  <div data-aos="fade-up text-white " style="background-color: black;"
  data-aos-anchor-placement="center-bottom" class="graph">
   <strong><h1 class="text-3xl mb-3 text-white" style="text-align: left;" >Optimizing Digital Experiences for Maximum Impact</h1></strong>
    <p class="pa text-white" style="text-align: left;">
    At KYBIC, we specialize in CRO and Performance-oriented development, ensuring your online presence isn't just impressive but also effective. Harness the power of optimized web solutions and watch your conversions soar.
    </p>
  </div>
  </div>


  <div class="home3">
    <div class="container">
      <img src="{% static 'images/home12.jpg' %}" alt="" data-aos="fade-up" data-aos-offset="400"
      data-aos-easing="ease-in-sine"> 
      <div class="text" style="background-color: whitesmoke;color: black;"  data-aos="fade-up"
       data-aos-offset="500"
       data-aos-easing="ease-in-sine">
        <p>
        <strong>Performance at the Core.</strong> In the digital age, speed and efficiency matter. Our development approach prioritizes performance, ensuring your website loads swiftly, functions seamlessly, and keeps visitors engaged.
        </p>
         <div class="chat" style="padding-bottom: 20px;">
         <a href="tel:+919061713244 " >
          <button class=""style="background-color: rgba(21, 76, 255, 0);box-shadow: none;border-radius: 0px;border: 1px solid black; color: #000;">
            Contact
          </button>
          </a>
         </div>
      </div>
      <div class="text" style="background-color: black;"  data-aos="fade-up"
       data-aos-offset="500"
       data-aos-easing="ease-in-sine">
        <p>
          <strong>Conversions, Not Just Clicks.</strong> A beautiful website is just the start. We delve deep into user behavior, employing best-in-class CRO techniques to turn visitors into loyal customers.
        </p>
         <div class="chat" style="padding-bottom: 20px;">
         <a href="tel:+919061713244">
          <button style="background-color: rgba(21, 76, 255, 0);box-shadow: none;border-radius: 0px;border: 1px solid white; color: #e9e9e9;">
           Contact
          </button>
          </a>
         </div>
      </div>  
      <img src="{% static 'images/home11.jpg' %}" alt="" data-aos="fade-down"  data-aos-offset="500"
      data-aos-easing="ease-in-sine">
      
    </div>
  </div>
  
<div class="home2" style="background-color: white;">
  <div class="container" style="background: none;">
    <div class="left" id="myTextarea">
      <div class="text" style=" color: black;">
        <strong>Data-Driven Decisions</strong>We rely on analytics and user insights to make informed decisions, ensuring every change we implement has a purpose and a measurable impact.
      </div>
      
      <div class="text" style=" color: black;">
        <strong>Tailored Strategies</strong> Every business is unique. We craft bespoke CRO and performance strategies that align with your specific goals and audience.
      </div>
      <div class="text" style=" color: black;">
       <strong> Quality Assurance</strong> Our commitment to quality means rigorous testing, ensuring every element of your site functions as intended and contributes to your conversion goals.
      </div>
      <div class="text" style=" color: black;">
       <strong> Client Collaboration</strong>Your insights are invaluable. We work closely with you, valuing your feedback and ensuring our strategies align with your vision.
      </div>
    </div>
 
  </div>
</div>

<div class="lock">

  <div class="r">
    <div class="text" style="">
      <h1><strong>Performance and Innovation</strong></h1>
      <p>Where speed meets user experience. We optimize every aspect of your digital presence, ensuring fast load times without compromising on design or functionality. Stay ahead of the competition with a website that performs.</p>
      <div class="chat" style="padding-bottom: 20px;">
        <a href="tel:+919061713244">
         <button style="background-color: rgba(21, 76, 255, 0);box-shadow: none;border-radius: 0px;border: 1px solid white; margin-top: 10px;">
          Contact
         </button>
         </a>
        </div>
    </div>
    
  </div>
  <div class="rono">
  </div>
</div>
<script src="https://cdn.botpress.cloud/webchat/v0/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/ff433f47-d391-4346-b8f6-e53c9a29a722/webchat/config.js" defer></script>






</div>




{% comment %} <script>
  var leftDiv = document.getElementById("myTextarea");
  var textContent = leftDiv.innerHTML;
  var dummyDiv = document.createElement('div');
  dummyDiv.innerHTML = textContent;
  leftDiv.appendChild(dummyDiv);

  var scrollHeight = dummyDiv.offsetHeight;
  var scrollTop = 0;
  var scrollSpeed = 5; // Adjust scroll speed (in milliseconds)
  var scrollDelay = 4000; // Adjust delay between scrolls (in milliseconds)
  var scrollInterval;
  var scrollStep = 1; // Adjust scroll step (in pixels)

  function scrollDiv() {
    if (scrollTop < scrollHeight) {
      if (scrollHeight - scrollTop <= scrollStep) {
        // Scroll remaining distance in one step
        leftDiv.scrollTop = scrollHeight;
        scrollTop = scrollHeight;
      } else {
        // Scroll by scrollStep pixels
        scrollTop += scrollStep;
        leftDiv.scrollTop = scrollTop;
      }
    } else {
      scrollTop = 0;
      leftDiv.scrollTop = 0;
    }
  }

  function startScrolling() {
    scrollInterval = setInterval(scrollDiv, scrollSpeed);
  }

  function stopScrolling() {
    clearInterval(scrollInterval);
  }

  var container = document.querySelector(".container");
  container.addEventListener('mouseenter', startScrolling);
  container.addEventListener('mouseleave', stopScrolling);
  // container.addEventListener('click', stopScrolling);

  setTimeout(function () {
    clearInterval(scrollInterval);
  }, scrollDelay);
</script> {% endcomment %}
<!-- navbar set up -->
  <script>

  const textElement = document.getElementById('text');
  const words = ['Key to','Business','Intelligence','and','Creativity']; // Replace with your desired words
  let wordIndex = 0;
  let letterIndex = 0;
  
  function type() {
    if (wordIndex >= words.length) {
      wordIndex = 0; // Reset to the first word
    }
  
    const currentWord = words[wordIndex];
  
    if (letterIndex < currentWord.length) {
      textElement.innerHTML += currentWord.charAt(letterIndex);
      letterIndex++;
      setTimeout(type, 200); // Adjust typing speed here (in milliseconds)
    } else {
      setTimeout(erase, 1000); // Delay before erasing the text
    }
  }
  
  function erase() {
    const currentWord = words[wordIndex];
  
    if (letterIndex >= currentWord.length) {
      letterIndex = 0;
      wordIndex++;
      textElement.innerHTML = ''; // Clear the text
      setTimeout(type, 500); // Delay before typing the next word
    } else {
      textElement.innerHTML = currentWord.substr(0, letterIndex);
      letterIndex++;
      setTimeout(erase, 50); // Adjust erasing speed here (in milliseconds)
    }
  }
  type();
  </script>

  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://kybic.io",
  "name": "KYBIC",
  "description": "CRO & Performance-Oriented Web Development Agency",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://kybic.io/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
  

  
{% endblock content %}
