 {% load static %} 



<nav class="main-nav">
    <div class="right">
        <div class="logo">
            <img src="{% static 'images/kybic.png' %}" alt="">
        </div>
    </div>
    <div class="left">
        <div class="links">
            <button id="open" >
                 <!-- <img src="{% static 'images/hamburger-menu-icon.svg' %}" alt="" />  -->
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        
            <ul class="ul" id="ul">
                <li>Home</li>
                <li>About</li>
                <li>Why us?</li>
                <li>Say Hi</li>
            </ul>
        </div>
    </div>

</nav>
<script src="{% static 'js/navbar.js' %}"></script>

