 {% load static %} 



<nav class="main-nav">
    <div class="right">
        <div class="logo">
            <img src="{% static 'images/kybic.png' %}" alt="">
        </div>
    </div>
    <div class="left">
        <div class="links">
            <button id="open" >
                 <!-- <img src="{% static 'images/hamburger-menu-icon.svg' %}" alt="" />  -->
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        
            <ul class="ul" id="ul">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'services' %}">Why us?</a></li>
                <li><a href="{% url 'contact' %}">Say Hi</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                {% comment %} <li><a href="{% url 'admin1' %}">Admin</a></li> {% endcomment %}
                 {% if user.is_authenticated %}
                 <!-- <li>hello,{{user.first_name}}</li> -->
                <li><a href="{% url 'accounts:logout' %}">logout</a></li> 
                 {% else %}
                 <li><a href="{% url 'accounts:register' %}">Register</a></li>
                 <li><a href="{% url 'accounts:login' %}">Login</a></li> 
                 {% endif %}
               
                <li><a href="{% url 'testimonials' %}"></a></li>
                <li><a href="{% url 'blog1' %}"></a></li>
                <li><a href="{% url 'form' %}"></a></li>
                <li><a href="{% url 'blogform' %}"></a></li>
               
              
              
                 
            </ul>
        </div>
    </div>

</nav>
<script src="{% static 'js/navbar.js' %}"></script>

