 
{% load static %}
{% block content %}

<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="register"   method="post">
        {% csrf_token %}
        <input type="text"  name="first_name" placeholder="first_name">
        <br>
         <input type="text"  name="last_name" placeholder="last_name">
        <br>
         <input type="text"  name="username" placeholder="username">
        <br>
         <input type="password1"  name="password1" placeholder="password1">
        <br>
        <input type="password2"  name="password2" placeholder="password2">
        <br>
         <input type="email"  name="email" placeholder="email">
        <br>
        <input type="submit">
    </form>
    <div>
        {% {% for messages in messages  %}
          
       
    <h3>{{messages}}</h3>
    {% endfor %}%}
    </div>
</body>
</html>

{% endblock content %}
