{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="service-main">
    <div class="service1">
        <div class="heading">
            <div class="text">
                <h2>
                    Unleash the Power of Our Service Workflow: <br> Transforming Ideas into Digital Brilliance !
                </h2>
                <div class="butt">
                       <button>
                        <a href="tel:+919061713244"> Contact</a>
                      </button>
                </div>
            </div>

        </div>
        <h3 style="text-align: center; margin: 100px auto 0 auto;"> How We Create  <br><strong style="font-size: 4rem;"> Values</strong> </h3> <span style="display: block;height: 1px; background-color: antiquewhite; width: 200px; margin: auto;"></span>
        <div class="workflow">
            
            <div  data-aos="zoom-in-down" class="discovery">
                <img src="{% static 'images/r.png' %}" alt="" class="wimgs">
                <h2>1. discovery</h2>
                <p>We begin by diving deep into understanding your business, target audience, and goals. Through research and analysis, we gain valuable insights that shape our strategy</p>

            </div>
            <div  data-aos="zoom-in-down"  class="planning">
                <img src="{% static 'images/q.png' %}" alt="" class="wimgs">
                <h2>2. planning</h2>
                <p>With a clear understanding of your objectives, we develop a comprehensive plan outlining the project scope, timelines, and deliverables</p>

            </div>
            <div data-aos="fade-right" class="design big">
                <div class="dummy">
                <div class="head">
            </div>
                <div class="left">
                <img src="{% static 'images/p.png' %}" alt="" class="wimgl">
            </div> 
            <div class="right">
                <h2>3. design</h2>

                <p>Our talented designers bring your vision to life, creating visually stunning and user-friendly interfaces that reflect your brand identity and engage your audience</p>
                </div>
            </div>
            </div>
            <div data-aos="fade-right"  class="development big">
                <div class="dummy">
                    <div class="head">
                    </div>
                        <div class="left">
                        <img src="{% static 'images/o.png' %}" alt="" class="wimgl">
                    </div>
                    <div class="right">
                        <h2>4. development</h2>

                        <p>Our skilled developers work their magic, turning designs into functional websites or applications, utilizing the latest technologies and best coding practices</p>
                    </div>
                </div>
        </div>
            <div  data-aos="zoom-in-down"  class="testing">
                <img src="{% static 'images/n.png' %}" alt="" class="wimgs">
                <h2>5. testing</h2>
                <p>Quality is paramount. We rigorously test every aspect of the project, ensuring optimal performance, responsiveness, and bug-free functionality across various devices and browsers</p>
            </div>
            <div  data-aos="zoom-in-down"  class="deployment">
                <img src="{% static 'images/l.png' %}" alt="" class="wimgs">
                <h2>6. deployment</h2>
                <p>It's time to launch your project into the digital world. We handle the deployment process, ensuring a smooth transition from development to a live environment</p>
            </div>
            <div  data-aos="zoom-in-down"  class="optimization">
                <img src="{% static 'images/m.png' %}" alt="" class="wimgs">
                <h2>7. optimization</h2>
                <p>We continuously monitor and optimize your website or application for performance, security, and user experience, keeping it up to date with evolving industry standards</p>
            </div>
            <div  data-aos="zoom-in-down"  class="support">
                <img src="{% static 'images/sapport.png' %}" alt="" class="wimgs" style="max-width: 200px;">
                <h2>8. support</h2>
                <p>Our commitment doesn't end with the launch. We provide ongoing support and maintenance, assisting you with any technical issues or updates to ensure your digital presence remains seamless</p>
            </div>
        </div>
    </div>
    <div class="service2">
        <div class="left">
            <div class="text">
                <h1>"Crafting Immersive Experiences: Seamlessly Responsive Design for the Modern World"</h1>
                <p>
                    In today's fast-paced digital landscape, user experience is paramount. At Kybic, we specialize in creating modern and immersive web solutions that adapt effortlessly to any screen size or device. Our team of skilled designers and developers follows a mobile-first approach, meticulously crafting responsive designs that ensure your website or application looks stunning and performs flawlessly across smartphones, tablets, laptops, and desktops. With our focus on delivering a seamless user experience, you can engage your audience wherever they are, leaving a lasting impression and maximizing your online impact. Experience the power of modernized responsive design with Kybic.
                </p>   
                <div class="butt">
                    <button>
                        <a href="tel:+919061713244"> Contact</a>
                   </button>
             </div>             
            </div>

        </div>
        <!-- <div class="right">
        </div> -->
    </div>
    <!-- <div class="service3">
     <h1>Kybic</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus iure, architecto veritatis quidem eum eos facere eligendi inventore laboriosam mollitia dolores odio ducimus excepturi enim sed tempora? Autem, velit ea 
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel quod reiciendis dolores quo aliquam atque animi illum ipsum. Quibusdam nihil delectus voluptas explicabo maiores praesentium magnam repellat numquam, perferendis mollitia.
     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore vero facilis voluptatibus asperiores deserunt. Quae quos, unde odio eius omnis harum nostrum deserunt neque et magni veniam, est, assumenda architecto.</p>
    </div> -->
    <div class="service4">
    <div class="container">
        <div class="head" style="width:100%;display: flex;flex-direction: column;justify-content: center;margin: auto auto 100px auto;">
            <img src="{% static 'images/bubbles.png' %}" alt="" style="margin: auto;">
            <h4 style="margin:auto;text-align: center;">We will <span style="font-size: 4rem;">impress</span><br> you with</h4>
        </div>
       
        <div>
        <div data-aos="fade-up"
        data-aos-anchor-placement="bottom-bottom" class="items">
            <!-- <div class="heading">
            </div> -->
            <div class="left"><img src="{% static 'images/webdev.png' %}" alt=""></div>
            <div class="right">
                <div class="text">
                <h2>Website Development and Redesign </h2>
                <p>We create stunning, user-friendly websites that reflect your brand identity and captivate
                your target audience. Whether you need a brand-new website or a complete redesign of
                your existing one, we leverage the latest technologies and best practices to deliver visually
                appealing, responsive, and high-performing websites that drive engagement and
                conversions.</p>
                </div>
            </div>
      </div>
    </div>
        <div>
            <div data-aos="fade-up"
            data-aos-anchor-placement="center-bottom" class="items">
                <!-- <div class="left"><img src="{% static 'images/webdev.png' %}" alt=""></div> -->
                <div class="right">
                    <div class="text">
            <h2>Web Applications</h2>
            <p>Our team excels at developing custom web applications that streamline your business
                processes, boost productivity, and enhance user experiences. From internal management
                systems to customer portals and complex enterprise solutions, we create robust, scalable,
                and secure web applications tailored to your unique requirements.</p>
                </div>
        </div>
        <div class="left"><img src="{% static 'images/web application.png' %}" alt=""></div>
        </div>
          </div>

        <div>
            <div  data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" class="items">
                <div class="left"><img src="{% static 'images/e commerce.png' %}" alt=""></div>
                <div class="right">
                    <div class="text">
            <h2>E-commerce Solutions</h2>
            <p>We help businesses establish a powerful online presence and drive sales through tailored ecommerce platforms. Our e-commerce solutions integrate intuitive user interfaces, seamless
                payment gateways, inventory management systems, and data-driven analytics to optimize
                your online store and maximize conversions.</p>
                </div>
          </div>
          </div>
          </div>
        <div>
            <div  data-aos="fade-up"
            data-aos-anchor-placement="center-bottom" class="items">
                <div class="right">
                    <div class="text">
            <h2>Mobile App Development</h2>
            <p>In the mobile-first era, we craft engaging and intuitive mobile applications that connect
                with your target audience and offer seamless experiences on iOS and Android platforms.
                From concept to launch, our team follows agile development methodologies, ensuring that
                your mobile app stands out in the crowded app marketplace.</p>
                </div>
           </div>
           <div class="left"><img src="{% static 'images/mobile.png' %}" alt=""></div>
           </div>
           </div>

        <div>
            <div  data-aos="fade-up"
            data-aos-anchor-placement="bottom-bottom" class="items">
                <div class="left"><img src="{% static 'images/disn.png' %}" alt=""></div>
                <div class="right">
                    <div class="text">
                    <h2>Captivating Designs</h2>
                    <p>We understand the importance of visually appealing designs in making a lasting impression.
                        Our team of talented designers combines creativity with user-centric design principles to
                        create captivating visuals, logos, branding elements, and user interfaces that align with
                        your brand identity and resonate with your audience.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>

       <div class="service5">
          <div data-aos="fade-right" class="left5">
            <div class="sertext">
                <h1>Quality Assurance</h1>
                <p>We are committed to delivering solutions
                    of the highest quality. Our rigorous quality
                    assurance processes include
                    comprehensive testing, code reviews,
                    and performance optimization to ensure
                    that your web development and design
                    projects are flawless, reliable, and secure.</p>
                <div class="butt1">
                    <button>
                        <a href="tel:+919061713244"> Contact </a>
                   </button>
             </div>             
            </div>

          </div>
          <div data-aos="fade-right" class="right5">
            <div class="righttext">
                <h1>Customer Satisfaction</h1>
                <p>Your satisfaction is our top priority. We
                    provide transparent communication,
                    regular project updates, and attentive
                    customer support, ensuring that you have
                    a seamless experience throughout the
                    development and beyond.</p>
                <div class="butt">
                    <button>
                        <a href="tel:+919061713244"> Contact</a>
                   </button>
             </div>             
            </div>

          </div>
       </div>
      
  
</div>
{% endblock content %}