{% extends "admin.html" %}
{% load static %}
{% block content %}
<div class="testimonial-main">
<div class="testimonial-left">
    <div class="contents">
        <h1 style="font-size: 25px;font-weight:600px ;">Testimonials</h1>
    
        <div class="content">
            <div class="text-test">
                <p>KYBIC transformed our online presence! Their expertise brought our brand to life with a stunning website. Highly recommended!</p> 
                <div class="head">
                    <div class="img">
                        <img src="https://img.icons8.com/material-rounded/48/user-male-circle.png" alt="">
                    </div>
                    <h2>Emily R</h2> 
                    <p>CEO of Stellar Solutions</p> 
                </div>
                <!-- <button>edit</button> -->
            </div>
        </div>
        <div class="content">
            <div class="text-test">
                <p>Working with KYBIC was a pleasure. They built us a visually stunning and functional website. Exceptional work!</p> 
                <div class="head">
                    <div class="img">
                        <img src="https://img.icons8.com/material-rounded/48/user-male-circle.png" alt="">
                    </div>
                    <h2>Daniel M</h2>
                    <p>Founder of TechConnect</p>
                  
                </div>
                <!-- <button>edit</button> -->
            </div>
        </div>
        <div class="content">
            <div class="text-test">
                <p>KYBIC exceeded our expectations. Their creativity and technical expertise resulted in a standout website. Highly recommended!</p> 
                <div class="head">
                    <div class="img">
                        <img src="https://img.icons8.com/material-rounded/48/user-male-circle.png" alt="">
                    </div>
                    <h2>Sarah L</h2> 
                    <p>CEO of GlobalGrowth</p>
                </div>
                <!-- <button>edit</button> -->
            </div>
        </div>
        <div class="" style="text-align: center;color: rgb(86, 86, 87);">
            <button style="font-size: 40px;border: 2px solid rgb(86, 86, 87); border-radius: 100px;width: 60px; height: 60px;">
                <a href="" > <i class='bx bx-refresh'></i> </a>
           </button>
           <p >Update</p>
     </div>             
        
    </div>
    

</div>
<div class="testimonial-right">
    <div class="" style="text-align: center;color: rgb(86, 86, 87);">
        <button style="font-size: 40px;border: 2px solid rgb(86, 86, 87); border-radius: 100px;width: 60px; height: 60px;">
            <a href="" > <i class='bx bx-add-to-queue' ></i> </a>
       </button>
       <p >Add Testimonial</p>
 </div>             

</div>
</div>








{% endblock content %}
