{% extends "admin.html" %}
{% load static %}
{% block content %}

<style>

    .content{
        display: flex;
        flex-direction: column;
    
    }
    
    .text-test{
        display: flex;
        flex-direction: column;
        margin-right:20px ;
    }
    .content .text-test .head h2{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .content .text-test .head p{
        font-size: 13px;
    }
    /* .text-test p{
        text-align: center;
        width: 100%;
        max-width: 90%;
        text-align: left;
        background-color: aqua;
    }
     */

     .button-test{
        display: flex;
        flex-direction: row;
        align-content: stretch;
        width: 50%;
         justify-content: space-around;
         background-color: #12b080;
         margin-top: 10px;
         margin-bottom: 20px;
         color: aliceblue;
         border-radius: 15px;
         box-shadow: 2px 3px 14px 4px rgba(0, 0, 0, 0.151);

     }
     .button-test2{
        display: flex;
        flex-direction: row;
        text-align: center;
        width: auto;
        min-width: 100px;
        padding: 7px 32px;
  
         color: aliceblue;
         border-radius: 15px;
         box-shadow: 2px 3px 14px 4px rgba(0, 0, 0, 0.151);

     }
     .add-tes{
        display: flex;
        
     }

        </style>
<div class="testimonial-main">
<div class="testimonial-left">
    <div class="contents">
        <h1 style="font-size: 25px;font-weight:600px ;">Testimonials</h1>


    {% for a in testimonials %}
        <div class="content">
            <div class="text-test">
                    <p style="overflow-wrap: break-word">{{a.paragraph}}</p> 
 
               
                <div class="head">
                    <div class="img">
                        <img src="{{a.image.url}}" alt="">
                    </div>
                <h2>{{a.name}}</h2> 
                    <p>{{a.company}}</p> 
                </div>
              <div style="margin-top: 30px;border-top: 1px solid rgb(0, 0, 0);display: flex;flex-wrap: wrap;gap: 10px; padding: 20px 0px;">
                <div class="button-test2" style="background-color: #20d857;">
                    <a href="{% url 'edit_testimonial' a.id %}">Edit</a>
                </div>
                <div class="button-test2" style="background-color: #d84520;">
                    <a href="{% url 'delete_testimonial' a.id %}">Delete</a>
               </div>
              </div>
                
            </div>
        </div>
        {% endfor %}
        
        
        <div class="" style="text-align: center;color: rgb(86, 86, 87);">
            <button style="font-size: 40px;border: 2px solid rgb(86, 86, 87); border-radius: 100px;width: 60px; height: 60px;">
                <a href="" > <i class='bx bx-refresh'></i> </a>
           </button>
           <p >Update</p>
     </div>             
        
    </div>
    

</div>
<div class="testimonial-right">
    <div class="" style="text-align: center;color: rgb(86, 86, 87);">
        <button style="font-size: 40px;border: 2px solid rgb(86, 86, 87); border-radius: 100px;width: 60px; height: 60px;">
            <a href="" > <i class='bx bx-add-to-queue' ></i> </a>
       </button>
       <div class="add-tes">
       <a href="{% url 'addtestimonial' %}">Add Testimonial</a>
    </div>
 </div>             
</div>
</div>








{% endblock content %}
